# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================================
# Virtual Environment
# ==========================================

venv/
.env
.env.*

# ==========================================
# Jupyter
# ==========================================

.ipynb_checkpoints/

# ==========================================
# Logs
# ==========================================

logs/
*.log

# ==========================================
# Model Files
# ==========================================

# saved_models/
# *.pt
# *.pth
# *.ckpt
# *.onnx
# *.engine

# ==========================================
# Outputs & Pipeline Visuals
# ==========================================

outputs/pipeline/
outputs/classification/*.png
outputs/analysis/

# ==========================================
# Dataset
# ==========================================

datasets/

# ==========================================
# TensorBoard
# ==========================================

runs/
tensorboard_logs/

# ==========================================
# IDE
# ==========================================

.vscode/
.idea/

# ==========================================
# OS
# ==========================================

.DS_Store
Thumbs.db